<!DOCTYPE html>
<html>
<head>
  <title>GitlabCoverageViewer</title>
  <%= stylesheet_link_tag    "gitlab_coverage_viewer/application", media: "all" %>
  <%= javascript_include_tag "gitlab_coverage_viewer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
